In [1]:
import json
import pandas as pd
from tqdm import tqdm

data = json.load(open('./samples/match_sample.json', 'r', encoding='utf-8'))
player_list:list = [
                {'accountId': item['attributes']['stats']['playerId'],
                 'playerName': item['attributes']['stats']['name']}
                for item in tqdm(data['included'])
                if item['type'] == 'participant'
            ]
player_list_df = pd.DataFrame(player_list)
display(player_list_df)

100%|██████████| 129/129 [00:00<00:00, 831129.36it/s]

                                   accountId        playerName
0   account.10bcaba54cff430aaa41955e31b71c84           Lap1-n1
1   account.d76a7b9800f54e1e9e258a60f957b7fe         Yosh1noya
2   account.ffa8ba6f3f014d578762ec7211f071cb      Maybe_ZZZ-_-
3   account.18b4c3efbb504ded94e556839db4d765        ZR1_GhyaxX
4   account.583b44975c92464b9f3e87a5841bce0f         INGKING77
..                                       ...               ...
94  account.350bc6e46d014711bef5863d134e200a            reaidy
95  account.c538011341554d7cb8c5b1051a2e40fa        Split-life
96  account.ce5d58800f254c378c98520e101d1ab7    Sveta_Kartizol
97  account.3ca18583a66d4df8a2178ccc4d321cf2          M4CS_Boy
98  account.58a7289b732946abbf7af09d165ef96e  panaceaaaaaaaaaa

[99 rows x 2 columns]